<a href="https://colab.research.google.com/github/Chirag1997aggarwal/ineuronAssignments/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import json

In [2]:
d = json.load(open('data.json'))['b2b']
out_file = open("d.json", "w")
  
json.dump(d, out_file, indent = 6)
  
out_file.close()
data = pd.read_json('d.json')
data = data.explode('inv')

In [3]:
data

               ctin cfs                                                inv
0   06AAACL6141J1ZM   N  {'val': 13699, 'itms': [{'num': 1, 'itm_det': ...
1   06AAAFF6079J1Z9   N  {'val': 1680, 'itms': [{'num': 1, 'itm_det': {...
2   06AACCG8589P1ZP   N  {'val': 4961, 'itms': [{'num': 1, 'itm_det': {...
3   06AACCR9118F1ZG   N  {'val': 983, 'itms': [{'num': 1, 'itm_det': {'...
3   06AACCR9118F1ZG   N  {'val': 936, 'itms': [{'num': 1, 'itm_det': {'...
..              ...  ..                                                ...
33  09AMPPJ6236N1ZB   N  {'val': 10408, 'itms': [{'num': 1, 'itm_det': ...
33  09AMPPJ6236N1ZB   N  {'val': 840, 'itms': [{'num': 1, 'itm_det': {'...
33  09AMPPJ6236N1ZB   N  {'val': 8572, 'itms': [{'num': 1, 'itm_det': {...
34  09APFPN6140L1ZK   N  {'val': 4026, 'itms': [{'num': 1, 'itm_det': {...
34  09APFPN6140L1ZK   N  {'val': 4026, 'itms': [{'num': 1, 'itm_det': {...

[139 rows x 3 columns]

In [14]:
data.inv.iloc[138:139].to_dict()

{34: {'val': 4026,
  'itms': [{'num': 1,
    'itm_det': {'csamt': 0, 'rt': 5, 'txval': 3834, 'iamt': 191.7}}],
  'inv_typ': 'R',
  'flag': 'U',
  'pos': '09',
  'updby': 'S',
  'idt': '01-01-2022',
  'rchrg': 'N',
  'inum': 'SS/1269',
  'cflag': 'N',
  'chksum': '4d7444b8ee08bea64c8d4e87687034d1de958208e84c598f3080acc3aa4b702b'}}

In [27]:
dat = {
    'ctin': [],
    'IGST': [],
    'Invoice Total': [],
    'Invoice Number': [],
    'date': []
}
for i in data.iterrows():
    dat['ctin'].append(i[1]['ctin'])
    try:
      dat['IGST'].append(i[1]['inv']['itms'][0]['itm_det']['iamt'])
    except:
      dat['IGST'].append('NA')
    dat['Invoice Total'].append(i[1]['inv']['val'])
    dat['Invoice Number'].append(i[1]['inv']['inum'])
    dat['date'].append(i[1]['inv']['idt'])
    # print(i[1]['inv']['itms'][0]['itm_det']['iamt'])
    # break

In [28]:
pd.DataFrame(dat).to_excel('data.xlsx', index=None)

In [22]:
dat

{'ctin': ['06AAACL6141J1ZM'],
 'IGST': [652.35],
 'Invoice Total': [13699],
 'Invoice Number': ['SS/1378'],
 'date': ['22-01-2022']}